{% extends "account/index.html" %}

{% block userinfo %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- If IE use the latest rendering engine -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Set the page to the width of the device and set the zoon level -->
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <title>HealthNet</title>

        <!--Load local stylesheets-->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}"/>
        <!--<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}"/>-->


    </head>

    <body>

    <div class="container-fluid wrapper "style="overflow-y: scroll; height: 80vh;" style="background-color: whitesmoke;">
        <h3 class="text-center"
            style=" color: white; background-color: #772953; border-radius: 10px; padding-top: 1%; padding-bottom: 1%">
            Member Information</h3>
        <table class="table table-condensed">


            <tbody>

            <tr>
                <td>Name:</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
            </tr>

            <tr>
                <td>Account Type:</td>
                <td>{{ usertype }}</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>{{ user.username }}</td>
            </tr>

            <tr>
                <td>Last Login:</td>
                <td>{{ user.last_login }}</td>
            </tr>

            </tbody>
        </table>

        <h3 class="text-center"
            style="color: white; background-color: #772953; border-radius: 10px; padding-top: 1%; padding-bottom: 1%">
            Contact Information</h3>
        <table class="table table-condensed">

            <tbody>
            <tr>
                <td>Email:</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td>{{ profile.phoneNumber }}</td>
            </tr>

            <tr>
                <td>Street Address:</td>
                <td>{{ profile.streetAddress }}</td>
            </tr>

            <tr>
                <td>Town, Zip:</td>
                {% if profile.town %}
                    <td>{{ profile.town }}, {{ profile.zipCode }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>


            </tbody>
        </table>

        <!--background-color used to be whitesmoke-->
        {% if usertype == "Patient" %}
            <h3 class="text-center"
                style="color: white; background-color: #772953; border-radius: 10px; padding-top: 1%; padding-bottom: 1%">
                Medical Information</h3>
            <table class="table table-condensed">


                <tbody>
                <tr>
                    <td>Primary Care Doctor:</td>
                    <td>{{ patient.doctor }}</td>
                </tr>

                <tr>
                    <td>Age:</td>
                    <td>{{ patient.age }}</td>
                </tr>

                <!--<tr>
                    <td>Weight:</td>
                    <td>{{ patient.weight }}</td>
                </tr>

                <tr>
                    <td>Height:</td>
                    <td>{{ patient.height }}</td>
                </tr>-->

                <tr>
                    <td>Allergies:</td>
                    <td>{{ patient.allergies }}</td>
                </tr>
                <!--<tr>

                    <td>Medical History/Notes:</td>
                    <td>{{ patient.notes }}</td>

                </tr>-->
                <tr>

                    <td>Preferred Hospital:</td>
                    <td>{{ patient.hospital_preferred }}</td>

                </tr>

                <tr>

                    <td>Current Hospital:</td>
                    <td>{{ patient.profile.hospital_assignment }}</td>

                </tr>
                </tbody>
            </table>

        {% endif %}

        {% if usertype == "Doctor" %}
            <h3 class="text-center"
                style="color: white; background-color: #772953; border-radius: 10px; padding-top: 1%; padding-bottom: 1%">
                Career</h3>
            <table class="table table-condensed">


                <tbody>
                <tr>
                    <td>Specialty:</td>
                    <td>{{ doctor.type }}</td>
                </tr>

                <tr>
                        <td>Hospital:</td>
                        <td>{{ profile.hospital_assignment.name }}</td>
                </tr>
                </tbody>
            </table>

        {% endif %}

        {% if usertype == "Nurse" %}
            <h3 class="text-center"
                style="color: white; background-color: #772953; border-radius: 10px; padding-top: 1%; padding-bottom: 1%">
                Career</h3>
            <table class="table table-condensed">


                <tbody>
                <tr>
                    <td>Specialty:</td>
                    <td>{{ nurse.type }}</td>
                </tr>
                <tr>
                    <td>Hospital:</td>
                    <td>{{ nurse.profile.hospital_assignment }}</td>
                </tr>
                </tbody>
            </table>

        {% endif %}
    </div>

    <div class="container-fluid" style="margin-top: 1%;">
        Click <a href="edit_info">here</a> to update your information
    </div>



{% endblock %}

</body>
</html>